* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.instagram-phone img {
    height: 75rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    min-height: 4rem;
}

.instagram-logout {
    font-size: 20px;
    font-weight: bold;
    color: #0295f6;
    margin-top: 1rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    padding: 1.3rem 0;
    margin-bottom: 3rem;
    font-weight: bold;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-width: 40rem;
}

.instagram-logo {
    height: 7rem;
}

.profile-photo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin: 3rem;
}

.profile-photo img {
    width: 100%;
    height: 100%;
}

.instagram-login {
    font-size: 26px;
    font-weight: bold;
    background-color: #0295f6;
    text-align: center;
    padding-top: 1.4rem;
    width: 30rem;
    height: 5rem;
    border-radius: 8px;
    color: #fff;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0295f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./assets/img/appstore.png');
    background-size: cover;
}

.app-download:nth-child(2) {
    background-image: url('./assets/img/googleplay.png');
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}